Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = "1000" " 复制时的高亮延迟
Plug 'preservim/nerdtree'
let g:NERDTreeAutoOpen = 0
Plug 'tpope/vim-surround'
Plug 'easymotion/vim-easymotion'
let g:EasyMotion_do_mapping = 0 " 禁用 easymotion 默认按键

" 禁止响铃
set noeb
" 禁用闪屏
set vb t_vb=
set number
set relativenumber
" 使用系统剪切板
set clipboard^=unnamed,unnamedplus
set scrolloff=5
set showmode
" set hlsearch
set incsearch
set smartcase
set ignorecase
set tabstop=4
set shiftwidth=4
set smartindent
set ideajoin
set idearefactormode=keep

" 按键映射
let mapleader=" "

" 映射 esc
inoremap jk <Esc>
inoremap jj j

" 快速跳转
nnoremap <leader>j 5jzz
nnoremap <leader>k 5kzz
nnoremap <leader>gu <C-u>
nnoremap <leader>gd <C-d>

" 重定义 home 和 end
nnoremap L $
vnoremap L $
vnoremap H ^
nnoremap H ^

" 关闭文件
nnoremap <leader>q :q<cr>

" 窗口管理
nnoremap <leader>w <C-w>

" 粘贴
nnoremap <leader>p "0p

" easymotion
nmap <leader>s <Plug>(easymotion-s)

" ideavim 专用
map gh <Action>(Back)
map gl <Action>(Forward)
map gi <Action>(GotoImplementation)
map gI <Action>(GotoSuperMethod)
map gf <Action>(GotoFile)
map gr <Action>(RenameElement)
map <leader>f <Action>(ReformatCode)

" 打开git blame
map ta <Action>(Annotate)
" 打开文档
map th <Action>(QuickJavaDoc)

" 文件视图
map <leader>e <Action>(ActivateProjectToolWindow)
map gf <Action>(SelectInProjectView)

" 错误
map ]e <Action>(GotoNextError)
map [e <Action>(GotoPreviousError)

" 快速移动到上/下一个方法
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)

" 打开文件
nmap <leader>or <Action>(ManageRecentProjects)
